.PhoneMenu {
    display: none;
}

@media screen and (max-width: 919px) {
    .PhoneMenu {
        height: 60px;
        z-index: 9;
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 6px 30px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        background: #FFCB46;

        .PhoneMenu-btn {
            border: none;
            outline: none;
            background: transparent;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 4px;

            .PhoneMenu-icon {
                height: 25px;
                width: auto;
                object-fit: contain;
            }

            .PhoneMenu-text {
                color: #353535;
                font-size: 10px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-align: center;
            }
        }

        a {
            text-decoration: none;
        }
    }
}