.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

@media screen and (max-width: 919px) {
    .App {
        justify-content: flex-start;
    }
}

@media print {
    .App {
        padding: 25px;
    }
    .Header {
        display: none;
        opacity: 0;
        width: 0;
        height: 0;
        position: absolute;
        visibility: hidden;
        overflow: hidden;
    }

    .Account {
        margin-top: 0;
        margin: 0;

        // .Account
        .Account__menu {
            display: none;
            width: 0;
            height: 0;
            opacity: 0;
            position: absolute;
            visibility: hidden;
            overflow: hidden;
        }

        .TripsControll {
            display: none;
        }

        .AllUsersData {
            width: 100%;
            z-index: 10000;
            display: flex;
            box-shadow: none;
            padding: 1.5cm;
            position: absolute;
            top: 0;
            left: 0;

            .AllUsersData__head {
                .AllUsersData__btn {
                    display: none;
                    width: 0;
                    height: 0;
                    opacity: 0;
                    visibility: hidden;
                    position: absolute;
                }
            }

            .AllUserData__container {
                gap: 0;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: stretch;
                .AllUsersData__user {
                    width: 50%;
                    gap: 3px;
                    border-radius: 0;
                    padding: 10px;
                    -webkit-border-radius: 0;
                    -moz-border-radius: 0;
                    -ms-border-radius: 0;
                    -o-border-radius: 0;
                    page-break-before: auto;

                    .AllUserData__subheadline {
                        font-size: 18px;
                    }

                    .AllUserData__info {
                        gap: 3px;
                    }
                }
            }

            .AllUsersData__user:nth-child(16n - 1), .AllUsersData__user:nth-child(16n) {
                margin-top: 2.5cm;
            }

            * {
                display: flex;
            }
        }

        * {
            display: none;
        }
    }

    .Footer {
        display: none;
        width: 0;
        height: 0;
        position: absolute;
        opacity: 0;
        visibility: hidden;
        overflow: hidden;
    }
}