.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

@media screen and (max-width: 919px) {
    .App {
        justify-content: flex-start;
    }
}