input[type="date"]::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 15px;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    opacity: 0;
}

.Home {
    min-height: calc(100vh - 70px);
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .Home__bgImage {
        width: 100%;
        height: calc(100vh - 70px);
        object-fit: cover;
        object-position: center center;
        position: absolute;
        top: 70px;
        left: 0;
        z-index: 0;
        user-select: none;
        pointer-events: none;
    }

    .Home__head-group {
        display: flex;
        align-items: center;
        justify-content: center;

        .Home__headline {
            z-index: 2;
            color: #FFFFFF;
            text-align: center;
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }


    .Home__booking {
        z-index: 2;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        gap: 15px;
        border-radius: 5px;
        border: 1px solid #BDBDBD;
        background: rgba(255, 255, 255, 0.80);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        padding: 8px 15px;

        .Home__booking-caption {
            color: #646464;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 124%;
            margin-left: 10px;
        }

        .Home__booking-place {
            display: flex;
            position: relative;
            align-items: flex-end;
            justify-content: center;

            .Home__booking-place-item {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-end;
                gap: 9px;

                .Home__booking-select {
                    width: 250px;
                    background-repeat: no-repeat, no-repeat;
                    background-position: 12px center, calc(100% - 24px) center;
                    background-size: 24px 24px, 13px 7px;
                    padding: 8px 84px 8px 42px;
                    border-radius: 6px 0px 0px 6px;
                    border: 1px solid #8B8B8B;
                    background-color: #FFFFFF;
                    outline: none;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    text-indent: 1px;
                    text-overflow: '';

                    optgroup {
                        option {
                            padding: 5px 10px;
                        }

                        option:checked,
                        option:hover {
                            background-color: #eeeeee;
                        }
                    }


                    &#Home__to-select {
                        border-radius: 0 6px 6px 0;
                        -webkit-border-radius: 0 6px 6px 0;
                        -moz-border-radius: 0 6px 6px 0;
                        -ms-border-radius: 0 6px 6px 0;
                        -o-border-radius: 0 6px 6px 0;
                        background-position: 12px center, calc(100% - 12px) center;
                    }


                    &::-webkit-scrollbar {
                        width: 8px;
                    }

                    &::-webkit-scrollbar-track {
                        border: 1px solid #BEBEBE;
                        border-radius: 4px;
                        -webkit-border-radius: 4px;
                        -moz-border-radius: 4px;
                        -ms-border-radius: 4px;
                        -o-border-radius: 4px;
                    }

                    &::-webkit-scrollbar-thumb {
                        border-radius: 6px;
                        background: #D9D9D9;
                    }

                    &::-webkit-scrollbar-thumb:hover {
                        background: #a8a8a8;
                    }
                }

            }

            .Home__booking-places-switch {
                height: 28px;
                width: 28px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                position: absolute;
                left: 50%;
                top: 100%;
                border: 1px solid #C8C8C8;
                outline: none;
                background: #FFF;
                z-index: 3;
                transform: translate(-50%, calc(-100% - 4px));
                -webkit-transform: translate(-50%, calc(-100% - 4px));
                -moz-transform: translate(-50%, calc(-100% - 4px));
                -ms-transform: translate(-50%, calc(-100% - 4px));
                -o-transform: translate(-50%, calc(-100% - 4px));
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
            }
        }

        .Home__booking-group {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-end;
            gap: 9px;

            .Home__booking-date {
                background-repeat: no-repeat;
                background-position: 12px center;
                background-size: 24px 24px;
                padding: 8px 42px;
                border-radius: 6px;
                border: 1px solid #8B8B8B;
                background-color: #FFFFFF;
                outline: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                text-indent: 1px;
                text-overflow: '';
                position: relative;
                -webkit-border-radius: 6px;
                -moz-border-radius: 6px;
                -ms-border-radius: 6px;
                -o-border-radius: 6px;
            }

            .Home__booking-passangers-select {
                width: 225px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                position: relative;

                .Home__booking-select-label {
                    width: 100%;
                    color: #353535;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    border-radius: 5px;
                    border: 1px solid #8B8B8B;
                    background-color: #FFFFFF;
                    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                    padding: 8px 12px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .Home__booking-select-open-btn {
                        background: transparent;
                        border: none;
                        outline: none;
                        cursor: pointer;

                        img {
                            height: 7px;
                            width: auto;
                            user-select: none;
                            pointer-events: none;
                        }
                    }
                }

                .Home__booking-select-options {
                    display: none;
                    opacity: 0;
                    width: 100%;
                    position: absolute;
                    padding: 8px 12px;
                    top: calc(100% + 10px);
                    left: 0;
                    background: #ffffff;
                    border-radius: 6px;
                    -webkit-border-radius: 6px;
                    -moz-border-radius: 6px;
                    -ms-border-radius: 6px;
                    -o-border-radius: 6px;
                    flex-direction: column;
                    gap: 15px;
                    align-items: center;
                    justify-content: center;

                    &:before {
                        content: "";
                        position: absolute;
                        top: -10px;
                        left: 25px;
                        width: 0;
                        height: 0;
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent;
                        border-bottom: 10px solid #ffffff;
                    }

                    .Home__booking-select-option {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .Home__booking-option-label {
                            color: #353535;
                            text-align: center;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: normal;
                        }

                        .Home__booking-select-btn {
                            border: none;
                            outline: none;
                            background: transparent;
                            cursor: pointer;

                            img {
                                height: 15px;
                                width: auto;
                                pointer-events: none;
                                user-select: none;
                            }
                        }
                    }
                }
            }
        }

        .Home__booking-search {
            padding: 9px 25px;
            color: #353535;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
            border-radius: 6px;
            border: 1px solid #FFCB46;
            background: #FFCB46;
            outline: none;
            cursor: pointer;
            margin-left: 40px;
        }
    }
}

@media screen and (max-width: 919px) {
    .Home {
        min-height: calc(100vh - 50px);
        margin-top: 50px;
        justify-content: flex-start;

        .Home__bgImage {
            height: calc(100vh - 50px);
            position: static;
            width: 100%;
            height: 200px;
        }

        .Home__head-group {
            width: 100%;
            flex-direction: column;
            justify-content: flex-start;

            .Home__headline {
                z-index: 2;
                color: #FFF;
                font-size: calc(25px + .8vw);
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                position: relative;
                top: -75px;
            }
        }
    }
}