.TripCard {
    width: 100%;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
    border: 1px solid #AEAEAE;
    background: #FBFBFB;
    padding: 10px;

    * {
        font-family: "Roboto", sans-serif;
    }

    .TripCard__locations {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;

        .TripCard__group {
            max-width: 270px;
            width: fit-content;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            .TripCard__info {
                color: #353535;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%;

                &_bold {
                    color: #000;
                    font-weight: 700;
                }

                &_city {
                    color: #353535;
                }
            }

            .TripCard__sign {
                color: #000;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: 16px;
            }
        }
    }

    .TripCard__controll {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;

        .TripCard__headline {
            color: #353535;
            text-align: center;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-transform: uppercase;
            font-family: "Montserrat", sans-serif;
        }

        .TripCard__places-info {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            color: #000;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            font-family: "Montserrat", sans-serif;

            &_red {
                color: #DE6107;
            }

            &_green {
                color: #19760A;
            }
        }

        .TripCard__controll-btn-place {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;

            .TripCard__controll-btn {
                height: 40px;
                padding: 13px;
                border-radius: 5px;
                border: none;
                outline: none;
                color: #FFF;
                text-align: center;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                font-family: "Arial", sans-serif;

                &_red {
                    background: rgba(255, 10, 10, 0.75);
                }

                &_orange {
                    background: #FFCB46;
                }

                &_green {
                    background: rgba(48, 184, 0, 0.59);
                }
            }
        }
    }
}

@media screen and (max-width: 919px) {
    .TripCard {
        flex-direction: column;
        border-radius: 0 0 5px 5px;
        position: relative;
        top: 34px;
        gap: 25px;

        .TripCard__locations {
            align-items: flex-start;

            .TripCard__group {
                width: auto;
                max-width: none;
                align-items: flex-start;

                .TripCard__info {
                    font-size: 16px;
                    font-weight: 600;

                    &:nth-child(2) {
                        overflow: hidden;
                        height: 24px;
                        order: -1;
                        font-size: 24px;
                        text-align: left;
                        line-height: 100%;
                    }

                    .TripCard__info_city {
                        display: inline;
                    }
                }

            }
        }

        .TripCard__controll {
            .TripCard__headline {
                height: 34px;
                width: 100%;
                position: absolute;
                top: -33px;
                left: 0;
                right: 0;
                border-radius: 5px 5px 0px 0px;
                background: #353535;
                color: #FFF;
                text-align: center;
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                text-transform: uppercase;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 5px;
            }
        }
    }
}