.Ticket {
    width: 100%;
    padding: 15px;
    border-radius: 6px;
    background: #FBFBFB;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;

    a {
        text-decoration: none;
    }

    &_active {
        border: 1px solid #FFCB46;

        .Ticket__action {
            background: rgba(255, 10, 10, 0.75);
            border: none;
            color: #FFF;
            cursor: pointer;
        }
    }

    &_done {
        border: 1px solid #27C100;

        .Ticket__action {
            border: 1px solid #27C100;
            background: rgba(255, 255, 255, 0.75);
            color: #27C100;
        }
    }

    &_canceled {
        border: 1px solid #FF0A0A;

        .Ticket__action {
            border: 1px solid #FF0A0A;
            background: rgba(255, 255, 255, 0.75);
            color: #FF0A0A;
        }
    }

    .Ticket__locations {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;
    }

    .Ticket__group {
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
        
        &_arrow {
            width: auto;
            min-width: auto;
        }
        
        &_location {
            width: 50%;
            align-items: flex-start;
        }

        .Ticket__info {
            width: 100%;
            color: #353535;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 133%;

            a {
                color: #353535;
                display: inline;

                * {
                    display: inline-block;
                    vertical-align: middle;
                }

                img {
                    height: 25px;
                    width: 25px;
                    object-fit: contain;
                }
            }

            &_bold {
                color: #000;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: 100%;
            }

            &_bigBold {
                color: #353535;
                text-align: center;
                font-family: 'Arial', sans-serif;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: 100%;
            }

            &_sup {
                color: #353535;
                text-align: right;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: 28px;
                position: relative;
                top: -14px;
            }

            &_small {
                color: #000;
                text-align: center;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 100%;
            }
        }

        .Ticket__sign {
            color: #000;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: 16px;
            /* 50% */
        }
    }

    .Ticket__action {
        height: 40px;
        width: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 25px;
        border-radius: 5px;
        outline: none;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        font-family: "Arial", sans-serif;
    }
}

@media screen and (max-width: 919px) {
    .Ticket {
        flex-direction: column;
        gap: 20px;
        padding: 10px 15px;

        .Ticket__locations {
            width: 100%;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;

            .Ticket__group {
                width: 100%;
                align-items: flex-start;

                &_location {
                    width: auto;
                    flex-basis: auto;
                }
            }

            .Ticket__sign {
                transform: rotate(90deg);
                -webkit-transform: rotate(90deg);
                -moz-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                -o-transform: rotate(90deg);
            }
        }

        .Ticket__group {
            width: 100%;
            align-items: center;

            .Ticket__info {

                &_bigBold {
                    font-size: 36px;
                }

                &_sup {
                    top: -28px;
                }

            }

        }

    }
}