.FlightCard {
    width: 100%;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    border-radius: 6px;
    border: 1px solid #AEAEAE;
    background: #FBFBFB;

    .FlightCard__info {
        white-space: pre-wrap;
        word-break: break-all;
        color: #353535;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 125%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        &_bold {
            color: #141414;
            font-style: normal;
            font-weight: 700;
            line-height: 125%;
        }

        &_bigBold {
            color: #353535;
            font-family: Arial;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 28px;

            .FlightCard__info_bold {
                color: #353535;
            }
        }
    }

    .FlightCard__group {
        display: flex;
        gap: 15px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;

        &::after {
            content: "";
            height: 80px;
            width: 1px;
            border-radius: 2px;
            background: #D9D9D9;
            position: absolute;
            right: -25px;
        }
    }

    .FlightCard__locations {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;

        .FlightCard__arrow {
            color: #000;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 16px;
        }

        .FlightCard__location-column {
            width: 270px;
            display: flex;
            gap: 10px;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
        }
    }

    .FlightCard__book-btn {
        padding: 13px;
        border-radius: 5px;
        border: 1px solid #FFCB46;
        background: #FFCB46;
        outline: none;
        cursor: pointer;

        p {
            display: none;
        }

        img {
            height: 24px;
            aspect-ratio: 1/1;
            object-fit: contain;
        }
    }

    .FlightCard__summary {
        display: none;
    }
}

@media screen and (max-width: 1104px) {
    .FlightCard {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px 15px;
        gap: 20px;

        .FlightCard__group {
            width: 100%;
            flex-direction: row;
            justify-content: space-between;

            &::after {
                display: none;
            }

            &.FlightCard__group_uderlineonmobile::after {
                top: auto;
                display: block;
                bottom: -20px;
                right: 0;
                width: 100%;
                height: 1px;
            }
        }

        .FlightCard__locations {
            width: 100%;
            flex-direction: column;
            align-items: flex-start;
            gap: 15px;

            .FlightCard__arrow {
                transform: rotate(90deg);
                color: #000;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: 16px;
                /* 66.667% */
                -webkit-transform: rotate(90deg);
                -moz-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                -o-transform: rotate(90deg);
            }
        }

        .FlightCard__book-btn {
            align-self: center;
            padding: 5px 30px;
            background: #25A904;
            border: none;

            p {
                display: block;
                color: #FFF;
                text-align: center;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: 200%;
            }

            img {
                display: none;
            }
        }

        .FlightCard__summary {
            width: 100%;
            display: flex;
            gap: 10px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 25px;

            .FlightCard__summary-raw {
                width: 100%;
                display: flex;
                gap: 5px;
                align-items: center;
                justify-content: center;

                .FlightCard__summary-sum {
                    color: #353535;
                    text-align: right;
                    font-size: 36px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 28px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    sup {
                        color: #353535;
                        text-align: right;
                        font-family: Arial;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 28px;
                        align-self: flex-start;
                        position: relative;
                        top: -15px;
                    }
                }

                .FlightCard__summary-currency {
                    color: #353535;
                    text-align: right;
                    font-family: Arial;
                    font-size: 36px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 28px;
                    /* 77.778% */
                }
            }

            .FlightCard__summary-info {
                color: #000000;
                text-align: center;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 36px
            }

        }
    }
}