@import "_reset";
@import "../Fonts/Arial/Arial.css";
@import "../Fonts/Barlow/Barlow.css";
@import "../Fonts/CrimsonText/CrismonText.css";
@import "../Fonts/Heebo/Heebo.css";
@import "../Fonts/Montserrat/Montserrat.css";
@import "../Fonts/MPlus1p/MPlus1p.css";
@import "../Fonts/Quando/Quando.css";
@import "../Fonts/Roboto/Roboto.css";
@import "../Fonts/NixieOne/NixieOne.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #141414;
    font-family: "Arial", serif;
}

body {
    overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media screen and (max-width: 919px) {
    .App {
        margin-bottom: 60px;
    }

    ::-webkit-scrollbar {
        width: 5px;
    }
}